# Dependencies
node_modules
.pnp
.pnp.*

# Nuxt
.nuxt
.nuxt-test
.nuxt-dbg
.output
.data
.vercel_build.output
.build-*
.netlify
dist

# Prisma
/prisma/generated
/prisma/dev.db*

# Environment
.env
.env.*
!.env.example
!.env.test

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Test / coverage
coverage
*.lcov

# Editors & OS
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.swp
*.swo
